html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	
}

#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#settings {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
	
}

#panel {
    background-color: #f3f3f3;
    border: 3px solid #6d6d6d;
	margin: 10px;
	padding: 10px;
}

#ruleNumber,
#squareSize {
    width: 60px;
}


#generateButton {
	
	width: 100%;
}