html, body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #f3f3f3;
}

#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#options {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    background-color: #f3f3f3;
    padding: 10px;
    border: 3px solid #6d6d6d;
}

#ruleNumber,
#squareSize {
    width: 60px;
}
